GROQ_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
TOGETHER_API_KEY=
QDRANT_URL=
QDRANT_API_KEY=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TOKEN=
WHATSAPP_VERIFY_TOKEN=
SOCKET_MAX_HTTP_BUFFER_SIZE=
SHORT_TERM_MEMORY_DB_PATH=